# Implementation Contraints File for Nexys4 DDR Artix-7 FPGA

# Clock
NET "CLK" LOC = E3 | IOSTANDARD = LVCMOS33;
NET "CLK" PERIOD = 10ns HIGH 5ns;

# Switches
NET "SW"  LOC = J15 | IOSTANDARD = LVCMOS33 | TIG;

# Audio Jack
NET "AUD_PWM" LOC = A11 | IOSTANDARD = LVCMOS33 | TIG;
NET "AUD_SD" LOC = D12 | IOSTANDARD = LVCMOS33 | TIG;

# Pmod JA
NET "JA1" LOC = C17 | IOSTANDARD = LVCMOS33 | TIG;
NET "JA2"  LOC = D18 | IOSTANDARD = LVCMOS33 | TIG;
#NET "JA4" LOC = E18 | IOSTANDARD = LVCMOS33 | TIG;
NET "JA4" LOC = G17 | IOSTANDARD = LVCMOS33 | TIG;

# UART
NET "TXD" LOC = C4 | IOSTANDARD = LVCMOS33 | TIG;