# Implementation Contraints File for Nexys4 DDR Artix-7 FPGA

# Clock
NET "CLK" LOC = E3 | IOSTANDARD = LVCMOS33;
NET "CLK" PERIOD = 10ns HIGH 5ns;

# Switches
NET "SW<15>" LOC = V10 | IOSTANDARD = LVCMOS33 | TIG;
NET "SW<14>" LOC = U11 | IOSTANDARD = LVCMOS33 | TIG;
NET "SW<13>" LOC = U12 | IOSTANDARD = LVCMOS33 | TIG;
NET "SW<12>" LOC = H6  | IOSTANDARD = LVCMOS33 | TIG;
NET "SW<11>" LOC = T13 | IOSTANDARD = LVCMOS33 | TIG;
NET "SW<10>" LOC = R16 | IOSTANDARD = LVCMOS33 | TIG;
NET "SW<9>"  LOC = U8  | IOSTANDARD = LVCMOS33 | TIG;
NET "SW<8>"  LOC = T8  | IOSTANDARD = LVCMOS33 | TIG;
NET "SW<7>"  LOC = R13 | IOSTANDARD = LVCMOS33 | TIG;
NET "SW<6>"  LOC = U18 | IOSTANDARD = LVCMOS33 | TIG;
NET "SW<5>"  LOC = T18 | IOSTANDARD = LVCMOS33 | TIG;
NET "SW<4>"  LOC = R17 | IOSTANDARD = LVCMOS33 | TIG;
NET "SW<3>"  LOC = R15 | IOSTANDARD = LVCMOS33 | TIG;
NET "SW<2>"  LOC = M13 | IOSTANDARD = LVCMOS33 | TIG;
NET "SW<1>"  LOC = L16 | IOSTANDARD = LVCMOS33 | TIG;
NET "SW<0>"  LOC = J15 | IOSTANDARD = LVCMOS33 | TIG;

# Audio Jack
NET "AUD_PWM" LOC = A11 | IOSTANDARD = LVCMOS33 | TIG;
NET "AUD_SD" LOC = D12 | IOSTANDARD = LVCMOS33 | TIG;

# Pmod JA
NET "SYNC" LOC = D14 | IOSTANDARD = LVCMOS33 | TIG;
NET "DATA"  LOC = F16 | IOSTANDARD = LVCMOS33 | TIG;
NET "SCLK" LOC = H14 | IOSTANDARD = LVCMOS33 | TIG;